/*  
body {
    font-family: "Tajawal", serif ,'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f1ebe1 ;
    text-align: center;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #f8f9fa, #e0e0e0);
    color: black;
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 10px;
    width: 90%;
    direction: ltr;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.nav-links li {
    background: white;
    padding: 10px 15px;
    border-radius: 15px;
    transition: 0.3s;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.nav-links li:hover {
    background: #ffcc00;
    transform: scale(1.1);
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 90%;
    height: 100vh;
    margin-top: 20px;
}

.location {
    grid-column: 1 / 2;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
}

.map-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: url(images/new-design-1.png);
    background-size: 100% 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.map {
    width: 100%;
    border-radius: 10px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    
}

.info-panel {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}
.card {
    background-image: url(images/new-design-3.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card1 {
    background: rgba(234, 233, 233, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}


.clock {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    width: 200px; 
    height: 200px;
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); 
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr;
    grid-column: 3/4;
    grid-row: 1/2;
}


.clock span, .gregorian-date, .hijri-date {
    padding: 10px;
    font-size: 3rem;
    color: #fff;
    border-radius: 5px;
    margin: 0 5px;
    font-feature-settings: "lnum";
    justify-content: center;
    align-items: center;
    
}

 */

 body {
    font-family: "Tajawal", serif ,'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1ebe1;
    text-align: center;
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fdf8f2;
    color: black;
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 10px;
    width: 90%;
    direction: ltr;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 20px;
    background: #b66842;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

.nav-links li {
    background: #fdf8f2;
    padding: 10px 15px;
    border-radius: 15px;
    transition: 0.3s;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}

.nav-links li:hover {
    background: #b66842;
    color: white;
    transform: scale(1.1);
}
.nav-links a:hover{
    color: white;
}


.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 90%;
    height: 100vh;
    margin-top: 20px;
}

.location {
    grid-column: 1 / 2;
    background: #fdf8f2;
    /* background-size: cover; */
    /* background-position: center ; */
    /* background-repeat: no-repeat; */
    color: rgb(6, 6, 6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
    flex: 20;

}
input{
    width: 30%;
    border-radius: 10px;
    border-style : none;
    background: rgba(242, 169, 126, 0.443);
    color: #060404;
    border: none;
    padding: 10px 15px;
    font-size: 1.2em;
}

.map-container {
    background: #fdf8f2;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-panel {
    background: #f1ebe1;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.card {
    /* background-image: url('images/new-design-3.png'); */
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #d19a73;  */
    background: #fdf8f2;
}

.card1 {
    background: #fdf8f2;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    font-weight: 900;
    letter-spacing: 7px;
    font-size: 2rem;
    background: #b66842;
    color: white;
    padding: 20px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hours, #minutes, #seconds{
    width: 10px;
    height: 10px;
    background-color: #f7f4f3;
    

}

.button {
    background: #b66842;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1.2em;
    border-radius: 10px;
    transition: 0.3s;
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.button:hover {
    background: #8d4f2f;
    color:#f6f0e6;
}
.hijri-date ,.gregorian-date{
    background-color: #b6694297;
    padding: 10px;
    margin: 10px;
    font-size: 32px;
    font-weight:700;
    border-radius: 10px;
}